# Files and directories created by pub

.dart_tool/
.idea
.vscode
android/
build/
ios/

web/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
pubspec.lock
stok_takip.iml





# Avoid committing generated Javascript files:
# *.dart.js
